.publi1{
    margin-left: -43px;
    display: flex;
    width: auto;
    /* height: 120px;*/
}
.iframe {
    width: 450px;
    height: 250px;
    border-radius: 20px; /* Agregamos el borde redondeado */
  }


  .img {
    width: 150px; /* Ancho más pequeño para la imagen */
    height: auto; /* Altura más pequeña para la imagen */
  }

.x{

    font-size:larger;
    font-weight: bold;
    margin-top: -50px;
    margin-left: 890px;
}

.h{
    color: #2a7ba0;
    font-size: xx-large;
}

.primerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 
}

/* Estilos para las etiquetas */
.primerInput label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    color: rgba(2, 127, 180, 0.699);
}


.primerInput select {
    flex: 2;
}





.name{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 
}
.name label {
    flex: 1;
    text-align: left;
    margin-right: 134px;
    color: rgba(2, 127, 180, 0.699);
}


.description{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 
}
.description label {
    flex: 1;
    text-align: left;
    margin-right: 100px;
    color: rgba(2, 127, 180, 0.699);
}


.description input{
    height:150px;
}



.logo{
    display: flex;
    width: 544px;
    height: 130px;
    color: #2a7ba0;
    border-radius: 3%;
    align-content: center;
    align-items: center;

}


.logo-input {
    margin-left: 113px;
    display: flex;
    position: relative;
    width: 458px;
    height: 114px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    color:black;
}








  .logo-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
















  .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    background-color: white;
    max-width: 400px;
    height: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.close-popup {
    background-color: #ff3366;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}







.n{
    color: #ff3366;
}









.imgenes-fund-1 img{
    width: 100px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;

}

.imgenes-fund-1 img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }

  .imgenes-fund-1 img {
    width: 150px;
    height: auto;
    margin-left: 7px;
    cursor: pointer;
  }

  .imgenes-fun-1 img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }







card-publi{
  height: auto;
  background-color: #2A7BA0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pp{
color: #f1f1f1;
    position: absolute;
    bottom: -1px;
    right: 0;
    margin-right: 17px;
    text-decoration: none;

}



  .imgenes-fund-2 img{
    width: 100px;
    height: auto;
    margin: 5px;
  
    cursor: pointer;
    border-radius: 10px;

}







.imgenes-fund-2 img:hover {
    transform: scale(1.1);
   
  }

  .imgenes-fund-2 img {
    width: 150px;
    height: auto;
    margin-top: -20px;
    cursor: pointer;
  }

  .imgenes-fun-2 img:hover {
    transform: scale(1.1);
   
  }










.imgenes-fund img {
    width: 200px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .imgenes-fund img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }

  .imgenes-fund img {
    width: 150px;
    height: auto;
    margin-left: 7px;
    cursor: pointer;
  }

  .imgenes-fund img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }




























  

.contenedoresdahs{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}









.chart1{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;

}


.horizontal-charts{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000009f;
    margin-top: 5%;
}















.textoporcentaje{

font-weight: bold;
border-radius: 50%;
height: 319px;
    width: 351px;
    text-align: center;
    margin-top: -200px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



.map {
  height: 100%;
  width: 90%;
  place-content: center center;
}

.map path {
  fill: rgb(103, 182, 255);
  stroke: #5586cc;
  stroke-width: 2px;
  transition: fill 0.3s; /* Agregamos una transición para suavizar el cambio de color en hover */
}

.map path:hover {
  fill: #1545a5;
}

.mapa {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px black;
}
















.menu ul {
  display: none;
}

.menu .toggle {
  cursor: pointer;
}

.menu .toggle:hover {
  text-decoration: underline;
}

.menu .toggle::after {
  content: '▼'; /* Flecha hacia abajo para indicar que es desplegable */
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s;
}

.menu .toggle.open::after {
  transform: rotate(180deg); /* Cambia la dirección de la flecha cuando se abre */
}

.menu .toggle.open + ul {
  display: block;
}


