.publi1{
    margin-left: -43px;
    display: flex;
    width: auto;
    /* height: 120px;*/
}
.iframe {
    width: 450px;
    height: 250px;
    border-radius: 20px; /* Agregamos el borde redondeado */
  }


  .img {
    width: 150px; /* Ancho m치s peque침o para la imagen */
    height: auto; /* Altura m치s peque침a para la imagen */
  }

.x{

    font-size:larger;
    font-weight: bold;
    margin-top: -50px;
    margin-left: 890px;
}

.h{
    color: #2a7ba0;
    font-size: xx-large;
}

.primerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 
}

/* Estilos para las etiquetas */
.primerInput label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    color: rgba(2, 127, 180, 0.699);
}


.primerInput select {
    flex: 2;
}





.name{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 
}
.name label {
    flex: 1;
    text-align: left;
    margin-right: 134px;
    color: rgba(2, 127, 180, 0.699);
}


.description{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 
}
.description label {
    flex: 1;
    text-align: left;
    margin-right: 100px;
    color: rgba(2, 127, 180, 0.699);
}


.description input{
    height:150px;
}



.logo{
    display: flex;
    width: 544px;
    height: 130px;
    color: #2a7ba0;
    border-radius: 3%;
    align-content: center;
    align-items: center;

}


.logo-input {
    margin-left: 113px;
    display: flex;
    position: relative;
    width: 458px;
    height: 114px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    color:black;
}








  .logo-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
















  .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    background-color: white;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.close-popup {
    background-color: #ff3366;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}




.image-overlay {
    position: absolute;
    top: 30px;
    left: 260px;
    display: flex;
    flex-direction: row;}
  
  .image-overlay img {
    margin: 2px;
    width: 136px;
    height: 152px;
    border-radius: 11px;
    /* margin-bottom: 18px; */
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .image-overlay img:hover {
    transform: scale(1.1); /* Efecto de zoom en hover */
    opacity: 0.8; /* Cambio de opacidad en hover */
  }